
#_wb_plain_banner, #_wb_frame_top_banner
{
    display: block !important;
    top: 0px !important;
    left: 0px !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    width: 100% !important;
    font-size: 18px !important;
    background-color: dodgerblue !important;
    color: white !important;
    text-align: center !important;
    z-index: 2147483643 !important;
    line-height: normal !important;
}

#title_or_url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 4px;
  display: block;
  margin-right: 130px;
  margin-left: 130px;
}

#_wb_plain_banner
{
    position: absolute !important;
    padding: 4px !important;
    border: 1px solid !important;
}

#_wb_frame_top_banner
{
    position: absolute !important;
    border: 0px;
    height: 44px !important;
}

#wb_iframe_div
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 44px 4px 4px 0px;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.wb_iframe
{
    width: 100%;
    height: 100%;
    border: 2px solid #545454;
    padding: 0px 0px 0px 0px;
    overflow: scroll;
}

.left-nav
{
    float: left;
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 14px;
    vertical-align: middle;
}

.left-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 2.5em;
}

.caret {
    display: inline-block;
    vertical-align: super;
    transform: rotateZ(90deg);
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-right: 4px;
    border-top: 6px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.right-nav
{
    float: right;
    position: absolute;
    top: 8px;
    right: 10px;
    text-align: right;
    font-size: 12px;
    line-height: 1.2em;
}

.right-nav span.title {
    font-family: 'InknutAntiqua';
    font-size: 12px;
    letter-spacing: -0.03rem;
}

.right-nav a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'InknutAntiqua';
    src: url('InknutAntiqua-Regular.woff2') format('woff2');
}


